# web scraping
beautifulsoup4==4.14.2
selenium==4.37.0
# data processing
pandas==2.2.3
openpyxl==3.1.5
# DB
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
# API
fastapi==0.115.6
pydantic==2.10.5
uvicorn==0.34.0
# config
python-dotenv==1.0.1
